<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">No Idea is worth forgeting, Track you thoughts.</p>
  <a href="/ideas/add" class="btn btn-dark btn-md">Add Tracks</a>
</div>