<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Every thought is worth remembering, so Track your Mind.</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Thoughts and Idea</a>
</div>